html {
    scroll-behavior: smooth;
}

body {
    background-color: #2f3333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2f3333;
    color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar a {
    text-decoration: none;
    display: flex;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{ 
    text-decoration: none;
    color: ghostwhite;
    font-family: my_font_2;
    font-size: clamp(1.1em, 1.1em, 3em);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color:#555;
}

.toggle-button {
   position: absolute;
   top: 4%;
   right: 2%;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 3vw;
   height: 3vw;
}

.toggle-button .bar {
    height: 0.4vw;
    width: 100%;
    background-color: ghostwhite;
    border-radius: 10px;
}

@media (max-width: 975px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        border-top: 0.5vw solid ghostwhite;
        width: 100%;
    }

    .nav-bar li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
        border-bottom: 0.5vw solid ghostwhite;
    }

    .navbar-links.active {
        display: flex;
    }

    .logo {
        width: 10vw;
    }
}

.logo{
    width: 10vw;
}

.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3333;
}

.container {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 60vw;
    background-image:url(IMG_2944.jpg);
    background-position: center;
    background-size: cover;
}
.right {
    width: 50%;
    height: 60vw;
    background-color: #809388;
    display: inline-flex;
    align-items: center;
}

.row2{
    text-align: center;
    margin-top: 3em;
}

.bottom {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 1em;
    background-color: #2f3333;
    opacity: 0.8;
}

.bottom1 {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 1em;
    background-color: #2f3333;
    opacity: 0.8;
}

.bottom2 {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 1em;
    background-color: #2f3333;
    opacity: 0.8;
}

.bottom5 {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 1em;
    background-color: #2f3333;
    opacity: 0.8;
}

.bottom7 {
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    opacity: 1;
    transition: 0.3s;
    margin-bottom: 1em;
    background-color: #2f3333;
    opacity: 0.8;
}

.bottom:hover {
    opacity:1;
    background-color: #2f3333;
}

.bottom1:hover {
    opacity:1;
    background-color: #2f3333;
}

.bottom2:hover {
    opacity:1;
    background-color: #2f3333;
}

.bottom5:hover {
    opacity:1;
    background-color: #2f3333;
}

.bottom7:hover {
    opacity:1;
    background-color: #2f3333;
}
.row1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

.row2::after{
    content: "";
    clear: both;
    display: table;
}

.column1 {
    flex: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    height: 10%;
    
}

.column2{
    -ms-flex: 70%;
    flex: 70%;
    max-width: 70%;
    padding: 0;
}

.column3{
    align-content: flex-start;
    background-color: ghostwhite;
    vertical-align: middle;
    width: 30%;
    padding-top: 4px;
}

.column4{
  padding: 0.5em;
}

.column4 a{
    display: block;
    width: 100%;
    margin-bottom: -4px;
    height: 100%;
    position: relative;
}

.column4 .image{
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.column4 .image:hover{
    opacity: 1;
}

.column4:hover .centered {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 865px){
    .column3 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 865px){
    .column2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 825px){
    .grid{
        grid-template-columns: repeat (2, 1fr);
    }
}

@media  (max-width: 1086px){
    .grid{
        grid-template-columns: repeat(3, 1fr)
    }
}

@media  (min-width: 1186px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media  (max-width: 450px){
    .grid{
        grid-template-columns: 1fr;
    }
}

#article {
    display: inline-block;
    height: auto;
    box-sizing: border-box;
    background-color: ghostwhite;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}


footer {
    position: static;
    box-sizing: border-box;
    /* use clear to make footer got to the next line */
    clear: both;
    width: 100%;
    background-color: #2f3333;
    text-align: center;
    padding: 1vw;
}

small {
    color: ghostwhite;
    font-size: 1.5vw;
    font-family: arial;
}

h1 {
    background-color: transparent;
    color:#2f3333;
    opacity: 100%;
    font-family: my_font_1;
    font-size: 15vw;
}

h2 {
    margin-left: -7vw;
    color:ghostwhite;
    opacity: 0.5;
    font-size: 15vw;
    font-family: my_font_1;
}

.resume {
    font-size: 12vw;
}

.resume#text{
    margin-left: -5vw;
}

.resume#icon {
    margin-left: 0vw;
}

.contact{
    font-size: 10vw;
}

.contact#text{
    margin-left: -4vw;
}

.contact#icon{
    margin-left: 0vw;
}

.contact#intro{
    margin-left: -37vw;
    font-size: 1.5vw;
}
h3 {
    font-family: my_font_1;
    font-size: 3.5vw; 
    padding-left: 1em;
    color: ghostwhite;
}

h4 {
    font-family: my_font_1;
    font-size: 2.5vw; 
    opacity:0.5;
    color: ghostwhite;
    white-space: nowrap;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}
#position {
    margin-left: -42.5vw;
}

h5 {
    font-family: my_font_1;
    font-size: 3vw;
    color: ghostwhite;
    width: 100%;
    margin-top: 0px;
}

h6 {
    color:#FFFFFF;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 2vw;

}

.resumelink {
    margin-top: 15vw;
    position: absolute;
    margin-left: 2vw;
    font-family: my_font_3;
    font-size: 3vw; 
    color: #2f3333;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
    padding: 3vw 8vw;
    background-color: ghostwhite;
    letter-spacing: 0.5vw;
}

.containertext {
    margin-left: 1vw;
    margin-right: 2vw;
    font-family: my_font_3;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    color: #FFFFFF;
}
       
.greet {position: center;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
    font-family: my_font_3;
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 1.5em;
}

p {
    position: center;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    color: black;
    font-family: my_font_3;
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 1.5em;
}

.button {
    background-image: url(phone2.png);
    background-position: 76vw;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4vw 4vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
    opacity: 1;
    transition: 0.3s;
}

.button1 {
    background-image: url(pplaptop2.png);
    background-position: 78vw;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    padding: 4vw 4vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
    opacity: 1;
    transition: 0.3s;
}

.button2 {
    background-image: url(pslaptop.png);
    background-position: 74vw;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    padding: 4vw 4vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
    opacity: 1;
    transition: 0.3s;
}

.button5 {
    background-image: url(1.png);
    background-position: 78vw;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    padding: 4vw 4vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
    opacity: 1;
    transition: 0.3s;
}

.button7 {
    background-image: url(cta.png);
    background-position: 78vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    opacity: 0.5;
    padding: 4vw 4vw;
    font-family: my_font_3;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: block;
    letter-spacing: 0.5vw;
    font-size: 3.5vw;
    opacity: 1;
    transition: 0.3s;
}

.button3 {
    border: solid;
    border-width: 1px;
    text-decoration: none;
    text-align: center;
    color:#FFFFFF;
    font-family:my_font_3;
    text-transform:uppercase;
    font-size: 2.8vw;
    border-radius: 50em;
    margin-left: 1em;
    width: 60%;
    height: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-row-start: 3;
}

.button6{
    color:#FFFFFF;
    font-family:my_font_3;
    font-size: 2.8vw;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    margin: 0.5em;
    border-radius: 50em;
    border: solid;
}

.button3:hover{
    background-color:#809388;
    border-color: #809388;
}

.button6:hover{
    background-color: #809388;
    border-color: #809388;
}

.button4:hover{
    background-color:#555;
}

.button a {
    text-decoration: none;
}

.button1 a {
    text-decoration: none;
}

.button2 a {
    text-decoration: none;
}
.button a:hover {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0;
}

.fa { 
    padding: 2vw;
    width: 4vw;
    border-radius: 5%;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    margin: 2vw 1vw;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #809388;
    color: ghostwhite;
}

.fa-linkedin {
    background: #809388;
    color: ghostwhite;
}

.fa-instagram {
    background: #809388;
    color: ghostwhite;
}

@media screen and (max-width: 400px){
    .containertext{
        display: flex;
    }
}

#foodventory {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#empathize {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#define {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#ideate {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#prototype {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#test {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#reflect {
    font-family: my_font_3;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:#809388;
    letter-spacing: 0.5vw;
    font-size: 4.5vw;
    display: block;
    padding: 5vw;
}

#align {
    text-align: center;
    padding-top: 2em;
}

#white {
    padding: 2vw 4vw;
    color: #FFFFFF;
    font-family: my_font_3;
    font-size: 2vw;
    line-height: 4vw;
    margin: 0em;
}

.white {
    padding: 2vw 4vw;
    color: #FFFFFF;
    font-family: my_font_3;
    text-transform: uppercase;
    font-size: 3vw;
    line-height: 4vw;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
}

.grid{
    display: grid;
}

.center {
    text-align: center;
    padding: 2em;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    font-size: clamp(2rem, 3vw, 2rem);
    font-family: my_font_3;
    text-transform: uppercase;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.contain{
    position:relative;
    text-align: left;
    color:#FFFFFF;
    text-transform: uppercase;
    font-family:my_font_3;
    font-size: 3.5vw;
    float: left;
    width: 33.33%;
    padding: 5px;
    
}

.list {
    color: ghostwhite;
}

.image{
    width:100%;
    height: 15em
    opacity:0.5;
}

.image:hover {
    opacity:1;
}
